.reviews-slider{
  .slick-slider{
    display: flex;
    align-items: center;
    overflow: hidden;
    .slick-list{
      height: 100%;
      .slick-track{
        height: 100%;
        .slick-slide > div{
          height: 100%;
        }
      }
    }
    .slick-dots ul .slick-active > div{
      background: #ffffff;
    }
  }
}

.reviews-slider:hover .slick-slider .arrow-button{
  visibility: visible;
}